<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">Something goes wrong!</h1>
      <a href="/" class="btn btn-info btn-block mt-3">返回主頁</a>
    </div>
  </div>
</div>